In [1]:
import pandas as pd
from pprint import pprint as pp
import re

In [60]:
num_dict = {"one": "1", "two": "2", "three": "3", "four": "4", "five": "5", "six": "6", "seven": "7",
            "eight": "8", "nine": "9", "ten": "10", "eleven": "11", "twelve": "12", "thirteen": "13",
            "fourteen": "14", "fifteen": "15", "sixteen": "16", "seventeen": "17", "eighteen": "18",
            "nineteen": "20", "twenty one": "21", "twenty two": "22", "twenty three": "23"}

word_dict = {"number ": "", "Paddock ": "P", "paddock ": "P", "East ": "E", "east": "E", "Paddick ": "P",
             "Patek ": "P", "Patrick ": "P", "Padick ": "P"}

day_list = ['monday', 'tuesday', 'wednesday', 'thursday']

paddock = re.compile("[PE][\d]+")

In [61]:
start_data = pd.read_csv('../../data/Cattle move - Sheet1.csv')
start_data.head()

,Date,Notes,Rain,Days in Paddock,Days rest,Cow,Calf,Weight
0,"Feb 26, 2018","Franklin, Dakota and Dudley in open shed after...",NaN,NaN,NaN,NaN,NaN,NaN
1,"February 27, 2018 at 04:20PM","14 head in E18 - includes Danica Joy, Dakota R...",NaN,NaN,NaN,NaN,NaN,NaN
2,"April 7, 2018","3 head in corral behind barn - Highball, Ella,...",NaN,NaN,NaN,NaN,NaN,NaN
3,"April 7, 2018",2 head in open shed - Franklin and Dudley,NaN,NaN,NaN,NaN,NaN,NaN
4,"April 7, 2018",Tattood Danica Joy - VOM D70,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
# Patterns - P16, Paddock 11, 'six'

date_notes = start_data[['Date', 'Notes']]

In [63]:
notes_list = date_notes['Notes'].to_list()
print(notes_list[0:5])

['Franklin, Dakota and Dudley in open shed after Dudley was caught nursing Stella', '14 head in E18 - includes Danica Joy, Dakota Red and Ernest', '3 head in corral behind barn - Highball, Ella, Evelyn', '2 head in open shed  - Franklin and Dudley', 'Tattood Danica Joy -  VOM  D70']

In [64]:
new_list = []

for x in range(0, len(notes_list)):
    for old, new in num_dict.items():
        notes_list[x] = str(notes_list[x]).replace(old, new)
    for old, new in word_dict.items():
        notes_list[x] = str(notes_list[x]).replace(old, new)
    new_list.append(' '.join(paddock.findall(notes_list[x])))

pp(notes_list[-25:-1])
pp(new_list[-25:-1])

['Move cows to P7',
 'Gave cows P9 in addition to P7',
 'Expanded the 2 bowls into P22 west side of driveway',
 'Moved cows to P17 - west side of creek',
 'Move cows back to Cedar Hill on Saturday gave them 1 bale of hay',
 'Easter Sunday, April 12, 2020 move cows to P12 starting them on green forage '
 'for the year. Wintered and bail grazed on P9',
 'Monday, April 13 moved cows to P8 in the morning.',
 'Tuesday, April 14 move cows to P6 in the morning',
 'Correction for Easter Sunday the cows began on P7',
 'Moved cows to P5 on weds. 4.15. -  to P3 on Thurs 4.16.  -   To P1 on Friday '
 '4.17.  -  to P2 on Saturday 4.18',
 'Move cows to P4 on Sunday',
 'Move cows to North 1/3 of E18 on Monday',
 'Moved cows to south 1/3 of E18',
 'Moved cows to P14',
 'Move cows to P12',
 'Moved cows to P11',
 'Moved cows to P13 on Saturday, 5.2.20',
 'Move cows to P15',
 'Move cows to P17',
 'Move cows to P18',
 'Moved cows to around corn crib on Sat. May 9 at noon.',
 'Moved cows to P22',
 'Moved cows to P23 Mon evening',
 'Move cows to P1 Wednesday noon May 13']
['P7',
 'P9 P7',
 'P22',
 'P17',
 '',
 'P12 P9',
 'P8',
 'P6',
 'P7',
 'P5 P3 P1 P2',
 'P4',
 'E18',
 'E18',
 'P14',
 'P12',
 'P11',
 'P13',
 'P15',
 'P17',
 'P18',
 '',
 'P22',
 'P23',
 'P1']

In [65]:
date_time_list = start_data['Date'].to_list()
pp(date_time_list[0:10])

['Feb 26, 2018',
 'February 27, 2018 at 04:20PM',
 'April 7, 2018',
 'April 7, 2018',
 'April 7, 2018',
 'April 30, 2018 at 03:45PM',
 'May 01, 2018 at 05:19AM',
 'May 01, 2018 at 06:42PM',
 'May 02, 2018 at 04:52AM',
 'May 02, 2018 at 06:31PM']

In [66]:
date_list = []
time_list = []

for x in date_time_list:
    date_list.append(str(x).split(' at ')[0])
    if len(str(x).split(' at ')) == 2:
        time_list.append(str(x).split(' at ')[1])
    else:
        time_list.append('')

print(len(date_list))
print(len(time_list))

365
365

In [67]:
new_dict = {'tweaked_notes': notes_list, 'paddock_only': new_list, 'date_only': date_list, 'time_only': time_list}

paddock_df = pd.DataFrame(new_dict)

#remove rows with nan in notess
nan_index = paddock_df[paddock_df['tweaked_notes'] == 'nan'].index
paddock_df.drop(nan_index, inplace=True)

In [68]:
paddock_df = paddock_df[~paddock_df.tweaked_notes.str.contains('rain')]
paddock_df = paddock_df[~paddock_df.tweaked_notes.str.contains('Rain')]

In [69]:
paddock_df.to_csv('../../data/reduced.csv')

In [19]:
all_data = pd.concat([start_data, paddock_df], axis=1)
all_data.tail()

,Date,Notes,Rain,Days in Paddock,Days rest,Cow,Calf,Weight,Tweaked notes,Paddock only,Date only,Time only
360,"May 10, 2020 at 08:49PM",Moved cows to around corn crib on Sat. May 9 a...,NaN,NaN,NaN,NaN,NaN,NaN,Moved cows to around corn crib on Sat. May 9 a...,,"May 10, 2020",08:49PM
361,"May 10, 2020 at 08:49PM",Moved cows to Paddock 22,NaN,NaN,NaN,NaN,NaN,NaN,Moved cows to P22,P22,"May 10, 2020",08:49PM
362,"May 11, 2020 at 06:55PM",Moved cows to Paddock 23 Mon evening,NaN,NaN,NaN,NaN,NaN,NaN,Moved cows to P23 Mon evening,P23,"May 11, 2020",06:55PM
363,"May 14, 2020 at 06:53AM",Move cows to paddock number one Wednesday noon...,NaN,NaN,NaN,NaN,NaN,NaN,Move cows to P1 Wednesday noon May 13,P1,"May 14, 2020",06:53AM
364,"May 15, 2020 at 04:03PM",Moved cows to P #2 Tburs at noon,NaN,NaN,NaN,NaN,NaN,NaN,Moved cows to P #2 Tburs at noon,,"May 15, 2020",04:03PM

In [20]:
all_data.to_csv('../../data/cleaned.csv')